{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
    <title>Pyron|article</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'unitconvert' %}" style="color: deepskyblue;">Unit Converter</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}" style="color: deepskyblue;">Home <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>

    </nav>
    <div class="container my-3">

        <div class="row">
            <div class="col-md-7 col-lg-8 mx-5">
                <article>
                    <h1 style="color: darkorchid;">{{unit.unit_title }}</h1>
                    <p>{{unit.unit_description|linebreaks}}<a href="{{ unit.unit_article_link}}"> Read more at wikipedia</a>
                    </p>

                </article>

            </div>
        </div>
    </div>


    <h5 class="mt-3 mx-5" style="color: darkorchid;">See also</h2>
        <hr>
        <div class="row">
            <div class="col mb-5 mx-5">
                <div class="list-group medium">
                    {% for u in units %}
                    <a href="{% url 'unit_view' %}?unit={{u.pk}}"
                        class="py-2 {% if u.id == unit.unit_id %} d-none {% endif %}">{{u.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>







</body>

</html>